@using NetFlex.DAL.Enums

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/NetFlex.WEB.styles.css" asp-append-version="true" />
	<script src="https://kit.fontawesome.com/3ee70c58bc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/css/Admin/Admin.min.css" />
	<link rel="stylesheet" href="~/lib/jquery-confirm/css/jquery-confirm.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css">
	<link rel="stylesheet" href="~/css/PanelsUI.css" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	
	@Html.AntiForgeryToken()
	<div class="container">
		<main role="main" class="pb-3">
			<div class="wrapper">
				<div class="menu">
					<a class="button" asp-controller="Main" asp-action="Index">
						<i class="fa-solid fa-reply-all"></i>
						<span>Return to main</span>
					</a>
					<hr />
					@{
						//Enum.TryParse(ViewData["CurrentPage"] as string, out AdminPages _page);
						Func<AdminPages, string> CheckSelected = (e) => { return (e == (AdminPages)ViewData["CurrentPage"]).ToString(); };
					}
					<a class="button" asp-controller="Admin" asp-action="Index" selected="@CheckSelected(AdminPages.Statistics)">
						<i class="fa-solid fa-chart-line"></i>
						<span>Statistics</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Users" selected="@CheckSelected(AdminPages.Users)">
						<i class="fa-brands fa-accessible-icon"></i>
						<span>Users</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Roles" selected="@CheckSelected(AdminPages.Roles)">
						<i class="fa-brands fa-accessible-icon"></i>
						<span>Roles</span>
					</a>
					<hr />
					<a class="button" asp-controller="Admin" asp-action="SubsriptionPlans" selected="@CheckSelected(AdminPages.Plans)">
						<i class="fa-solid fa-circle-dollar-to-slot"></i>
						<span>Subscription plans</span>
					</a>
					<hr />
					<a class="button" asp-controller="Admin" asp-action="Genres" selected="@CheckSelected(AdminPages.Genres)">
						<i class="fa-solid fa-mars-and-venus"></i>
						<span>Genres</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Films" selected="@CheckSelected(AdminPages.Movies)">
						<i class="fa-solid fa-clapperboard"></i>
						<span>Movies</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Serials" selected="@CheckSelected(AdminPages.Series)">
						<i class="fa-solid fa-film"></i>
						<span>Series</span>
					</a>
					<a class="button" asp-controller="Admin" asp-action="Episodes" selected="@CheckSelected(AdminPages.Episodes)">
						<i class="fa-solid fa-film"></i>
						<span>Episodes</span>
					</a>
				</div>
				<div class="content">
					@RenderBody()
				</div>
			</div>
		</main>
	</div>
	<div id="loader">
		<img src="~/images/mini-logo.svg" />
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
	<script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/AdminPage.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		window.addEventListener('DOMContentLoaded', e => {
			document.querySelector("#loader").setAttribute("loaded", "true");
		});
	</script>
</body>
</html>
